h1 {
  color: whitesmoke;
  font-family: 'Courier New', Courier, monospace;
}

h3 {
  color: whitesmoke;
  font-family: 'Courier New', Courier, monospace;
}

body {
  font-family: 'Courier New', Courier, monospace;
  margin: 0;
  padding-top: 80px;
  padding-left: 96px;
  padding-right: 24px;
  background-color: black;
  color: whitesmoke;
}

textarea {
  left: -1000px;
  position: absolute;
}
b {
  font-weight: bold;
  text-decoration: underline;
}


::selection {
  color: blue;
  background-color: black;
}
::-moz-selection {
  color: blue;
  background-color: black;
}

.cursor {
  font-size: 12px;
  color: whitesmoke;
  background-color: black;
  position: relative;
  opacity: 1;
  height: 1.5em;
  width: 10px;
  max-width: 10px;
  transform: translateY(4px);
  overflow: hidden;
  text-indent: -5px;
  display: inline-block;
  text-decoration: blink;
  animation: blinker 1s linear infinite;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}

#command {
  cursor: text;
  height: 50px;
  color: pink;
}
#liner {
  line-height: 1.3em;
  margin-top: -2px;
  animation: show 0.5s ease forwards;
  animation-delay: 1.2s;
  opacity: 0;
}
#liner::before {
  color: lightblue;
  content: "guest:clarkeprojects ~ $ ";
  font-weight: bold;
}
@keyframes show {
  frome {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}


p {
  color: whitesmoke;
  font-family: 'Courier New', Courier, monospace;
  display: block;
  line-height: 1.3em;
  margin: 0;
  overflow: hidden;
  white-space: nowrap;
  margin: 0;
  letter-spacing: 0.05em;
  animation: typing 0.5s steps(30, end);
}
.no-animation {
  animation: typing 0 steps(30, end);
}
.margin {
  margin-left: 20px;
}
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
.index {
  color: #DCDCCC;
}
.color2 {
  color: whitesmoke;
}
.command {
  color: #73ABAD;
  text-shadow: 0 0 5px #73ABAD; 
}
.error {
  color: #B89076;
}
.white {
  color: #fff;
}
.inherit,
a {
  color: #9C8394;
}
a {
  text-decoration: inherit;
}
a:hover {
  background: #73ABAD;
  color: #211830;
}
a:focus {
  outline: 0;
}